<%- include("../partials/head.html")%> 
        
    <h1>HELLO</h1>
    <% if (gender=="male") { %>
        <h1>Na woman you be!</h1>
    <% } else{ %>
        <h1>the other gender</h1>
        <% } %> 

<%- include("../partials/bottom.html")%> 